*{
    padding: 0;
    margin: 0;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Open Sans Condensed', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;
}

$primary-color:#f1c50e;
$red:#ee1b24;
$dark-grey:#292d33;
$light-grey:#555c66;;


h2{
    font-size: 2.15rem;
    font-weight: 900;
    color: black;
    margin-bottom: 2%;
}

h5{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1.5% 0;
}

p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 200%;
    color: black;
}
.p2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 200%;
    color: white;
}
.btn-primary{
    background-color: $primary-color;
    color: white;
    font-size:.9rem ;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: .8rem 1.8rem ;
    border: none;
    margin-bottom: 8%;
    
}
.flex-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


// ------------------------- header starts here -----------------

.banner{
    background-image: url(images/banner.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .input{
        margin: 1rem 0;
        padding: .7rem .5rem;
        font-size: 1rem;
        width: 20%;
        font-weight: 400;
    }
    

}   
.inner{
    width:80%;
    max-width: 1200px;
    margin: 0% auto;
    color: white;

}  
   
h2{
    color: white;
}



// ------------------------- header ends here -----------------
// ------------------------- section-1 starts here ----------------
.section-1{
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-content: center;
    .flex-box{
        
        
        
        .box-1{
            width: 45%;
            align-self: center;
        }
        .box-2{
            width: 45%;
            img{
                width: 100%;
                display: block;
            }
        }
    }
}


// ------------------------- section-1 ends here -----------------
// ------------------------- section-2 starts here -----------------
   

.section-2{
        color: white;
        

        .box{
            width: 25%;
            padding: 3% ;
        }

        .box-1{
            background-color: $red ;
        }
        .box-2{
            background-color: $primary-color ;
            color: black;
            .p2{
                color: black;
            }
        }
        .box-3{
            background-color: $dark-grey;
        }
        .box-4{
            background-color: $light-grey;
        }
        span{
            font-size: 4rem;
            font-weight: 900;

        }

        .fas{
            font-size: 3rem;
        }
    }
// ------------------------- section-2 ends here -----------------
// ------------------------- section-3 starts here ----------------
.section-3{
    background-color: $primary-color;
    width: 100%;
    min-height: 100vh;
    padding: 0rem 0;
    position: relative;
    .empty-box{
        width: 80%;
        height: 60%;
        background-color: $dark-grey;
        position: absolute;
        top:-.1rem;
        right: 0;
        z-index: 0;
    }
    
}
.sec-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0rem auto;
    padding: 5% 0;
    position: relative;
    top:0rem;
    left: 0;
    bottom: -500rem;
    z-index: 2;    
    


}
.sec-3 .box{
    width: 30%;
    // height: 500rem;
    margin: .5rem;
    overflow: hidden;
    img{
        width: 100%;
        height: 50rem;
        background-position: 50% 50%;
    
    }

}


// ------------------------- section-3 ends here -----------------
// ------------------------- section-4 starts here -----------------
.section-4{
    background-color: $dark-grey;
    width: 100%;
    min-height: 70vh;
    text-align: center;
    color: white;
    padding: 3% 0;
    position: relative;
    .empty-box{
        width: 45%;
        height: 30%;
        background-color: red;
        position: absolute;
        z-index: 0;
        top: 20%;
        left:27.5%


    }
    .sec-4{
        width: 30%;
        margin: 0 auto;
        position: relative;
        .box{
            width: 100%;
            height: 20%;
            img{
                width: 100%;
                height: 20%;
            
            }
            h2{
                margin-top: 2%;
                color: white;
            }
            p{
                color: white;
            }
            
        }
    }
}

// ------------------------- section-4 ends here -----------------
// ------------------------- section-5 starts here ---------------
.section-5{
    width: 100%;
    background-color: red;
    padding: 3rem 0;
    text-align: center;
    color: white;
    .sec-5{
        width: 80%;
        margin: 0 auto;
        .fab{
            font-size: 2rem;
            margin: .8rem;
        }
    }
}

// ------------------------- section-5 ends here -----------------
// ------------------------- footer starts here -----------------
footer{
    background-color: $dark-grey;
    padding: 5rem 0;
    color: white;
    position: relative;
    .empty-box{
        width: 20%;
        height: 100%;
        background-color: $primary-color;
        position: absolute;
        top:0rem;
        left:40%;
        z-index: 0;

    }
    .inner{
        position: relative;

    }
    .left{
        width: 50%;
        h2{
            color: white;
            margin: 1% 0;
        }
        p{
            color: white;
            margin: 2% 0;
            font-size: 1.2rem;

        }
        .sec-5{
            margin: 20% 0;
            .fab{
                font-size: 2rem;
                margin-left: .8rem;
            }
        }
    }
    .right{
        width: 50%;
        .input{
            margin: 1rem 0;
            padding: 1rem .5rem;
            font-size: 1rem;
            width: 100%;
            border: unset;
        }
        .btn-primary{
            border: 2px solid white;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: .2rem;
        }
    }
}
// ------------------------- footer ends here -----------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------

@media only screen and (max-width: 850px ){
// ------------------------- section-1 starts here ----------------
.section-1{

    .box-2{
        width: 50%;
        img{
            width: 100%;
            // display: block;
        }
    }
    }
}


// ------------------------- section-1 ends here -----------------


// ------------------------- footer ends here -----------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------

@media only screen and (max-width: 780px ){
    // ------------------------- section-1 starts here ----------------
    .section-1{
        .inner{
            
        .box-2{
            width: 50%;
            img{
                width: 100%;
                // display: block;
            }
        }
        }
    }
    
    
    // ------------------------- section-1 ends here -----------------
    
    }
// ------------------------- footer ends here -----------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------

@media only screen and (max-width: 770px){


    .inner{
        width:95%;
        // max-width: 1200px;

    
    } 

// ------------------------- section-1 starts here ----------------
.section-1{
    .inner{
        margin-top: 8%;

    

    
    .box-1{
        width: 50%;
        align-self: center;
    }
    .box-2{
        width: 50%;
        img{
            width: 100%;
            // display: block;
        }
    }
    }
}


// ------------------------- section-1 ends here -----------------

    

.section-2{
    text-align: center;
    .box{
        width: 50%
    }
      
}
// ------------------------- section-2 ends here -----------------
// ------------------------- section-3 starts here ----------------

}

.sec-3 {

    .box{
    width: 30%;
    height: 15rem;
    margin: .5rem;
    overflow: hidden;
    
}

}

.boxx{
    display: none;
    background-color: red;
}

footer{
    .inner{

        .empty-box{
            display: hidden;
        }
    }
}


// ------------------------- section-3 ends here -----------------




    
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------

@media only screen and (max-width: 612px){

.banner{
    align-items: flex-end;
    text-align: center;
    .inner{
        width: 80%;
        margin: 2% auto;
        .input{
            width: 80%;
        }
        .btn-primary{
            width: 80%;
        }
    }
}


// ------------------------- section-1 starts here ----------------
.section-1{
    .inner{


    .box-1{
        width:80%;
        margin: 10% auto;
        text-align: center;

    }
    .box-2{
        width: 100%;
        img{
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
    }
}



// ------------------------- section-1 ends here ----------------
// ------------------------- section-2 starts here ----------------

.section-2{
    .box{
        width: 100%
    }
      
}
// ------------------------- section-2 ends here ----------------
// ------------------------- section-3 starts here ----------------



.sec-3{ 
    .hidden{
        display: none;
        // background-color: red;
    }
    .box {
        width: 80%;
        height: 20rem;
        margin: .5rem;
        overflow: hidden;
        margin: 1rem auto;
        
    }
    .boxx {
        display: none;
        width: 80%;
        height: 25rem;
        margin: .5rem;
        overflow: hidden;
        margin: 1rem auto;
        // background-color: red;
    }
}

// ------------------------- section-3 ends here -----------------
// ------------------------- section-4 starts here -----------------
.section-4{
    .empty-box{
        width: 80%;
        height: 30%;

        top: 4%;
        left:10%
    }
    .sec-4{
        width: 60%;
        .box{
            width: 100%;
            img{
                width: 100%;
               
            }
        }
    }
}

// ------------------------- section-4 ends here -----------------
// ------------------------- footer starts here -----------------
footer{
    background-color: $dark-grey;
    .empty-box{
        display: none;
    }

    .left{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
        
    .right{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        // background-color: red;
       
    }
}
   
    
}


// ------------------------- footer ends here -----------------

